.title{
  margin: 50px;
  font-family: sans-serif;
  font-weight: bold;

}
.select{
  width: 300px;
  margin: 18px;
}
.buscar{
  margin: 0px 10px;
  padding: 20px;
}
.div{
  display: flex;
  justify-content: space-around;
}
.cartas{
  margin: 70px auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
}
.carta{
  margin: 10px;
  height: 400px;
  width: calc(25% - 20px)
}
.select{
  height: 50px;
  
}

@media only screen and (max-width: 600px){
  .carta{
    width: calc(50% - 20px); /* 2 cartas por fila */
    height: 400px; 
    margin: 50px;
  }
  .cartas{
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px -20px;
  }
  .select{
    height: 50px;
    width: 150px;
    margin: 12px 0px;
  }
  .buscar{
    padding: 10px;
    margin: 11px 0px;

  }
}
